:root{
    --bg-color: #FCF0E3;
    --primary-color: #581B08;
    --secondary-color: #C88751;
    --main-font: "Poppins", "Verdana", sans-serif;
}


/**** RESET ****/
*{
    margin:0;
    padding: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}


/***** BASIC ELEMENTS *****/ 

body {
  font-family: var(--main-font);
  font-weight: 400;
  background: var(--bg-color);
  color: var(--primary-color);
}

.container{
	width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-color);
  border-width: 0.3rem 0.5rem 0.5rem 0.3rem;
  border-style: solid;
  border-color: var(--secondary-color);
  border-radius: 10px;
  padding:1rem;
}

header{
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

footer{
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

h1{
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
  color: var(--secondary-color);
  text-shadow: 2px 2px var(--primary-color);
}

h2{
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p{
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 + p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 1.5rem auto;
}

blockquote{
  margin-bottom: 1.5rem;
  font-style: italic;
}

ul{
  list-style: none;
}

header li, footer li{
  text-transform: uppercase;
}

dl{
  margin-left: 2rem;
  margin-right: 2rem;
}

dt{
  font-weight: 700;
}

/* Media */
figure{
	text-align: center;
  margin-bottom: 1.5rem;;
}

img{
  width: 100%;
}

figcaption{
	font-size: .75rem;
	line-height: 1.2rem;
}

iframe {
  width: 100%;
  height: auto;
  border: 0;
  aspect-ratio: 16/9;
}

/* Links */
a{
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
}

a[target="_blank"]::after{
  content: "";
  width: 16px;
  height: 16px;
  background: url("../assets/img/external-link-svgrepo-com.svg")no-repeat;
  margin-right: 0.5rem;
  display: inline-block;
}

/* Links filters */
.filters a{
  color: var(--bg-color);
}

.filters li:hover{
  background-color: var(--primary-color);
}

/* Fake button */
.fakebutton a{
  color: var(--primary-color);
  background-color: var(--bg-color);
  text-transform: uppercase;
  border-radius: 30px;
  border: solid var(--primary-color);
  padding: 0.8rem 1.9rem;
  display: inline-block;
  margin-top: 1rem;
  transition: box-shadow 0.3s ease-out;
}

.fakebutton a:hover{
  color: var(--bg-color);
  box-shadow: inset 14em 0 0 0 var(--primary-color);
  font-weight: 700;
}

p.fakebutton{
  text-align: center;
}

/* Skip screen reader only text */
.sr-only {
  position: absolute; 
  left: -9999px; 
  z-index: 999; 
  padding: 1rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);    
  opacity: 0; 
}

.sr-only:focus {
  left: 50%;
  transform: translateX(-50%); 
  opacity: 1;
}



/***** BODY *****/
/* Background pattern */
body::before{
  background-attachment: scroll;
  content: '';
  display: block;
  height: 100vh;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transform: scale(1);
  width: 100vw;
  z-index: -1;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20preserveAspectRatio%3D%22none%22%3E%20%3Cpath%20d%3D%22M%200%200%20L%20512%20512%20M%20512%200%20L%200%20512%22%20stroke%3D%22%23F7DDBE%22%20stroke-width%3D%221.01px%22%20vector-effect%3D%22non-scaling-stroke%22%20stroke-linecap%3D%22square%22%20fill-rule%3D%22nonzero%22%20%2F%3E%3C%2Fsvg%3E');
  background-size: 118px;
  background-position: center;
  background-repeat: repeat;
}



/***** HEADER *****/
a.logo{
  color: var(--secondary-color);
  text-shadow: 3px 3px var(--primary-color);
}

.logo{
  font-variant:small-caps;
  font-size: 4rem;
  font-weight: 700;
}

ul.header{
  display: flex;
  justify-content: right;
  column-gap: 30px;
  height: 60px;
  align-items: flex-end;
  width: 80%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.testButton{
  padding: 10px 15px 0px 15px;
  border-radius: 10px 10px 0 0;
  border-width: 0.3rem 0.3rem 0 0.3rem;
  border-style: solid;
  border-color: var(--secondary-color);
  background-color: var(--bg-color);
  transition: padding-bottom 0.2s ease-out;
}

.testButton:hover{
  padding-bottom: 20px;
}

.current{
  box-shadow: 5px 0 var(--primary-color);
}

.current a:hover{
  color: var(--secondary-color);
}



/***** INDEX *****/

/* Presentation quote */
section.quote{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

svg#animate{
  width: 200px;
  height: 300px;
}

@keyframes animLid {
  15%{
    transform: translate(15px, -220px) rotate(-15deg);
  }
  50%{
    transform: translate(10px, -200px) rotate(-10deg);
  }
  80%{
    transform: translate(15px, -220px) rotate(-15deg);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes animBook{
  0%{
    opacity: 0;
  }
  15%{
    opacity: 100%;
    transform: translate(0px, -20px) rotate(8deg);
  }
  75%{
    transform: translate(0px, -20px) rotate(8deg);
  }
  80%{
    opacity: 100%;
    transform: translate(0px, -30px) rotate(10deg);
  }
  100%{
    opacity:0;
  }
}

svg#animate .book{
  transform-origin: bottom center;
  animation: animBook 3s infinite;
}

svg#animate .lid{
  transform-origin: bottom center;
  animation: animLid 3s infinite;
}

.quote p{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--primary-color);
}

section{
  margin-bottom: 2rem;
}




/***** BLOG *****/
article{
  margin-top:2rem;
}

.entry p,
.entry h2,
.entry figure{
  margin:0;
}

.entry{
  position: relative;
  margin-top: 4rem;
	width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(1px 5px 5px var(--primary-color));
}

.sheet{
    background-image: repeating-linear-gradient(0deg, #eadeda, #eadeda 2px, #fffcf9 2px, #fffcf9 26px);
    padding:3rem 1.5rem;
    border-radius: 5px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 90% 94%, 85% 100%, 76% 96%, 68% 100%, 62% 98%, 56% 100%, 49% 95%, 43% 100%, 36% 98%, 30% 100%, 20% 96%, 15% 100%, 9% 96%, 0% 100%);
    display:flex;
    flex-direction: column;
}

.entry::after{
    background: rgba(255,255,235,.6);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    content: "";
    display: block;
    height: 60px;
    position: absolute;
    margin: auto;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: -20px;
    transform: rotate(5deg);
}

.entry figure{
  margin: 1rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 5px 5px 10px var(--primary-color);
  transform: rotate(-1deg);
}

.wordsvalue{
  color: var(--secondary-color);
}

.entry ul{
  margin-top: 1rem;
}



/***** ARTICLES *****/

/* Date and author name */
.firma{
  text-align: center;
  color: var(--secondary-color);
}

/*** Image gallery ***/
.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 800px;
}

figure.mySlides{
  position: relative;
  background-color: white;
  padding: 1rem;
  box-shadow: 5px 5px 10px var(--primary-color);
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  font-weight: 700;
  font-size: 2rem;
  color: var(--bg-color);
  cursor: pointer;
  padding: 0.7em;
  border-radius: 0 5px 5px 0;
  transition: 0.6s ease;
  user-select: none;
}

a.prev:hover, 
a.next:hover{
  color: var(--bg-color);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/* On hover, add a dark background color */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dots{
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--primary-color);
}



/***** CATALOG *****/
/* Filters and search bar */
nav.filters{
  margin-bottom:1rem;
}

nav.filters,
.filters div,
.filters ul,
ul.filters {
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap: 1rem 0.5rem;
  align-items: center;
}

.filters p{
  font-size: 1.2rem;
  font-weight: 700;
  margin:0;
}

.filters ul{
  gap: 0.5rem;
}

.filters li{
  background-color: var(--secondary-color);
  color:var(--bg-color);
  padding: 1px 10px;
  border-radius: 15px 15px;
  cursor: pointer;
}

.filters input[type="text"]{
	border: 2px solid var(--secondary-color);
  border-radius: 15px 15px;
	background: var(--bg-color) url("../assets/img/icon-search.svg") 95% 50% no-repeat;
  width: 100%;
	height: 2rem;
	padding: 1rem;
}

.filters input[type="text"]::placeholder{
  font-family: var(--main-font);
  color: var(--primary-color)
}

/* Gallery */
.works{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  place-items: center;
  gap: 10px;
}

.works img{
  max-width: 100%;
  cursor: pointer;
}




/* Medium sized screens */
@media screen and (width > 440px) {
  /**** BASIC *****/

  .container{
    padding: 1rem 2rem;
  }

  h1 + p{
    width: 70%;
  }

  /***** CATALOG *****/
  .filters{
    justify-content: space-between;
  }

  ul.filters{
    justify-content: flex-start;
  }

  .filters input[type="text"]{
    max-width: 250px;
    flex:1;
  }

  /**** BLOG *****/
  
  .sheet{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .entry p:first-of-type{
      width: 100%;
  }

  .entry figure,
  .entry div{
    flex: 1;
  }

  .entry img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .entry .fakebutton{
    margin-top: 2rem;
    margin-right: 2rem;
  }

  .works{
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
  }

}

/* Big screens */
@media screen and (width > 768px){
  /***** BASIC *****/

  /* FakeButton */
  p.fakebutton{
    text-align: right;
  }



}